.displaynone {
	display: none !important;
}

.mt15 {
	margin-top: 15px;
}

.clear_both {
	clear: both;
}

.space {
	height: 10px;
	clear: both;
}

.space2 {
	height: 5px;
	clear: both;
}

.list_list {
	width: 100%;
	border: 0;
	border-top: 2px solid #cfcfcf;
	margin: 0 0 20px 0;
	padding: 0;
}

.list_list th div {
	white-space: nowrap;
}

.list_list tr.bg0 {
	background: #fff;
}

.list_list tr.bg1 {
	background: #f8f8f8;
}

.list_list th, .list_list td {
	border: 0;
	padding: 5px 10px;
	text-align: left;
	vertical-align: middle;
}

.list_list th {
	background: #f4f4f4;
}

.list_list tbody th {
	border-bottom: 1px solid #e5e5e5;
}

.list_list td {
	border-bottom: 1px solid #f0f0f0;
}

.list_list th.button, .colTable th.button, .crossTable th.button {
	text-align: right;
}

.list_list td.alert, .colTable td.alert, .crossTable td.alert {
	color: red !important;
}

.list_list td.alert a, .colTable td.alert a, .crossTable td.alert a {
	text-decoration: none;
	color: red !important;
}

.tableRow {
	width: 100%;
	border: 0;
	border-top: 2px solid #cfcfcf;
	margin: 0 0 20px 0;
	padding: 0;
}

.tableRow th div {
	white-space: nowrap;
}

.tableRow tr.bg0 {
	background: #fff;
}

.tableRow tr.bg1 {
	background: #f8f8f8;
}

.tableRow th, .tableRow td {
	border: 0;
	padding: 5px 10px;
	vertical-align: middle;
}

.tableRow th {
	background: #f4f4f4;
	text-align: left;
	padding-left: 20px;
}

.tableRow tbody th {
	border-bottom: 1px solid #e5e5e5;
}

.tableRow td {
	border-bottom: 1px solid #f0f0f0;
}

.tableRow th.button, .colTable th.button, .crossTable th.button {
	text-align: right;
}

.tableRow td.alert, .colTable td.alert, .crossTable td.alert {
	color: red !important;
}

.tableRow td.alert a, .colTable td.alert a, .crossTable td.alert a {
	text-decoration: none;
	color: red !important;
}

.board_pagination {
	margin: 0 auto;
	text-align: center;
	margin-top: 15px;
}

.board_comment_list textarea, .board_comment_write textarea {
	width: 90%;
	font-size: 12px;
}

.board_comment_list .comment_lists {
	height: 25px;
	border-bottom: 1px solid #e8e8e8;
	padding-top: 10px;
}

.displaynone {
	display: none;
}

.board_pagination .current {
	color: #CC0000;
	font-weight: bold;
}

.table01 {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

.ipInfo {
	text-align: right;
	width: 100%;
}

@font-face {
	font-family: 'NanumBarunGothic';
	src: url('/font/NanumBarunGothic.eot');
	src: url('/font/NanumBarunGothic.eot?#iefix')
		format('embedded-opentype'), url('/font/NanumBarunGothic.woff')
		format('woff'), url('/font/NanumBarunGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
	code, form, fieldset, legend, input, textarea, p, blockquote, th, td,
	img {
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

th, td {
	border: 0;
	vertical-align: top;
}

caption {
	display: none;
}

table.nneditor-table {
	width: auto !important;
}

body, code {
	font: 0.75em Verdana, Dotum, AppleGothic, sans-serif;
}

IMG {
	border: none;
}

A:link {
	text-decoration: none;
}

A:visited {
	text-decoration: none;
}

A:active {
	text-decoration: none;
}

A:hover {
	text-decoration: none;
}

#header {
	display: none;
}

#sidebar {
	display: none;
}

#banner {
	display: none;
}

#quick {
	display: none;
}

#footer .inner {
	display: none;
}

@media screen and (min-width:100px) {
	#top_autosize {
		width: 1000px;
		margin: 0 auto;
	}
	.top_boxm1 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm1:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm2 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm2:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm3 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm3:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm4 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm4:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm5 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm5:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm6 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm6:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
}

@media screen and (min-width:1014px) {
	#top_autosize {
		width: 1000px;
		margin: 0 auto;
	}
	.top_boxm1 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm1:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm2 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm2:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm3 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm3:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm4 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm4:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm5 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid##e4e4e4;
		text-align: center;
	}
	.top_boxm5:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm6 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm6:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
}

@media screen and (min-width:1250px) {
	#top_autosize {
		width: 1250px;
		margin: 0 auto;
	}
	.top_boxm1 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm1:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm2 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm2:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm3 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid##e4e4e4;
		text-align: center;
	}
	.top_boxm3:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm4 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm4:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm5 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm5:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm6 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm6:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
}

@media screen and (min-width:1510px) {
	#top_autosize {
		width: 1500px;
		margin: 0 auto;
	}
	.top_boxm1 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm1:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm2 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm2:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm3 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm3:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm4 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm4:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm5 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm5:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm6 {
		float: left;
		width: 490px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm6:hover {
		opacity: 1.0;
		width: 490px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
}

@media screen and (min-width:1759px) {
	#top_autosize {
		width: 1750px;
		margin: 0 auto;
	}
	.top_boxm1 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm1:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm2 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm2:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm3 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm3:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm4 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm4:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm5 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm5:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
	.top_boxm6 {
		float: left;
		width: 240px;
		height: 142px;
		margin: 4px;
		background: #fff;
		border: 1px solid #e4e4e4;
		text-align: center;
	}
	.top_boxm6:hover {
		opacity: 1.0;
		width: 240px;
		height: 142px;
		border: 1px solid #bfef1a;
	}
}

body {
	min-width: 1014px;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

#header .inner {
	position: relative;
	width: 1014px;
	margin: 0 auto;
	*zoom: 1;
}

#wrap {
	position: relative;
	width: 1014px;
	margin: 27px auto 0;
}

#container {
	margin: 0 auto;
	*zoom: 1;
	width: 1014px;
}

.visual {
	display: none;
}

#boardArea {
	display: none;
}

#bannerArea {
	display: none;
}

#box_quick {
	display: block;
	width: 210px;
	height: 340px;
	background: #fff url(/web/upload/appskin_img/quick_noimg1.gif);
}

#box_quick {
	border: 0px solid #d5d5d5;
	border-top: 0;
	text-align: center;
}

#box_quick h2 {
	margin: 0px;
	padding: 0px;
	height: 30px;
	line-height: 20px;
}

#box_quick h2 a {
	display: block;
}

#box_quick ul {
	width: 210px;
	padding: 0px;
	margin: 0;
	background: #fff;
	margin-top: -10px;
}

#box_quick li a {
	color: #2e2e2e;
	font-size: 11px;
}

#box_quick div {
	float: left;
}

#box_quick div img {
	max-width: 95px;
	padding: 0px 5px;
	height: 95px;
}

#box_quick li span {
	display: block;
	padding: 2px 0;
	line-height: 0px;
}

#box_quick .player {
	width: 210px;
	position: absolute;
	bottom: 44px;
	left: 15px;
	overflow: hidden;
	*zoom: 1;
	border-top: 1px solid #cccccc;
}

#box_quick .player img {
	text-align: center;
	width: 42px;
	height: 12px;
}

.kakao {
	background: #000 url(/web/upload/appskin_img/box_kakaotalk.png);
	height: 37px;
}

header1 h1 {
	text-align: center;
	font-size: 70px;
	font-weight: 1200;
	margin: 0px 0 0px 0;
	padding: 50px 0 0;
	color: #fff;
}

header1 h2 {
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	margin: 0px 0 0px 0;
	padding: 10px 0 50px;;
	color: #fff;
}

header1 h3 {
	text-align: center;
	font-size: 18px;
	font-weight: 200;
	margin: 0px 0 0px 0;
	padding: 10px 0 20px;;
	color: #fff;
}

header1 h4 {
	text-align: center;
	font-size: 14px;
	font-weight: 100;
	margin: 0px 0 0px 0;
	padding: 5px 0 0px;;
	color: #fff;
}

.xans-product-normalpaging {
	padding: 0px 0 40px 20px;
	border-top: 0px solid #e8e8e8;
	text-align: center;
}

.xans-product-normalpaging p {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-product-normalpaging p.first {
	margin: 0 -4px 0 0;
}

.xans-product-normalpaging p.last {
	margin: 0 0 0 -3px;
}

.xans-product-normalpaging ol {
	display: inline-block;
	margin: 0 -4px;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	*margin: 0;
}

.xans-product-normalpaging li {
	display: inline-block;
	margin: 0 0 0 -1px;
	border: 1px solid #d7d5d5;
	font-size: 12px;
	color: #757575;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-product-normalpaging li:first-child {
	margin-left: 2;
}

.xans-product-normalpaging img {
	vertical-align: top;
}

.xans-product-normalpaging li a {
	display: block;
	width: 33px;
	padding: 9px 0;
	font-weight: bold;
	color: #353535;
	line-height: 14px;
	background: #fff;
	text-decoration: none;
}

.xans-product-normalpaging li a:hover {
	text-decoration: none;
	background: #f0f2f2;
}

.xans-product-normalpaging li a.this {
	padding-bottom: 9px;
	border-bottom: 0px solid #008bcc;
	color: #000;
	text-decoration: none;
}

.xans-product-normalpaging a.nolink {
	cursor: default;
}

.xans-board-paging {
	padding: 0px 0 40px 20px;
	border-top: 0px solid #e8e8e8;
	text-align: center;
}

.xans-board-paging p {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-board-paging p.first {
	margin: 0 -4px 0 0;
}

.xans-board-paging p.last {
	margin: 0 0 0 -4px;
}

.xans-board-paging ol {
	display: inline-block;
	margin: 0 -2px 0 -2px;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	*margin: 0;
}

.xans-board-paging li {
	display: inline-block;
	margin: 0 0 0 -1px;
	border: 1px solid #d7d5d5;
	font-size: 12px;
	color: #757575;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-board-paging li:first-child {
	margin-left: 2;
}

.xans-board-paging img {
	vertical-align: top;
}

.xans-board-paging li a {
	display: block;
	width: 33px;
	padding: 9px 0;
	font-weight: bold;
	color: #353535;
	line-height: 14px;
	background: #fff;
	text-decoration: none;
}

.xans-board-paging li a:hover {
	text-decoration: none;
	background: #f0f2f2;
}

.xans-board-paging li a.this {
	padding-bottom: 9px;
	border-bottom: 0px solid #008bcc;
	color: #000;
	text-decoration: none;
}

.xans-board-paging a.nolink {
	cursor: default;
}

.xans-search-paging {
	padding: 30px 0 40px;
	border-top: 1px solid #e8e8e8;
	text-align: center;
}

.xans-search-paging p {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-search-paging p.first {
	margin: 0 -4px 0 0;
}

.xans-search-paging p.last {
	margin: 0 0 0 -3px;
}

.xans-search-paging ol {
	display: inline-block;
	margin: 0 -4px;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
	*margin: 0;
}

.xans-search-paging li {
	display: inline-block;
	margin: 0 0 0 -1px;
	border: 1px solid #d7d5d5;
	font-size: 12px;
	color: #757575;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-search-paging li:first-child {
	margin-left: 0;
}

.xans-search-paging img {
	vertical-align: top;
}

.xans-search-paging li a {
	display: block;
	width: 33px;
	padding: 9px 0;
	font-weight: bold;
	color: #939393;
	line-height: 14px;
	background: #fff;
}

.xans-search-paging li a:hover {
	text-decoration: none;
	background: #f0f2f2;
}

.xans-search-paging li a.this {
	padding-bottom: 6px;
	border-bottom: 3px solid #495164;
}

.xans-search-paging a.nolink {
	cursor: default;
}

.xans-product-normalpaging li a.this {
	padding-bottom: 9px;
	border-bottom: 0px solid #000;
	color: #fff;
	background: #1f1f1f;
}

.xans-board-paging li a.this {
	padding-bottom: 9px;
	border-bottom: 0px solid #000;
	color: #fff;
	background: #1f1f1f;
}

.xans-product-additional .paging li a.this {
	padding-bottom: 9px;
	border-bottom: 0px solid #000;
	color: #fff;
	background: #1f1f1f;
}

.xans-search-paging li a.this {
	padding-bottom: 9px;
	border-bottom: 0px solid #000;
	color: #fff;
	background: #1f1f1f;
}

.xans-myshop-orderhistorypaging li a.this {
	padding-bottom: 9px;
	border-bottom: 0px solid #000;
	color: #fff;
	background: #1f1f1f;
}

#totalProducts table .right {
	padding-right: 9px;
	font-weight: bold;
	color: #000;
	text-align: right;
}

#totalProducts tbody td p.product span.soldOut {
	color: #000;
}

#totalProducts tfoot td .total {
	color: #000;
}

#totalProducts tbody tr:first-child td {
	border-top: 1px solid #eee;
}

#totalProducts tfoot td {
	padding: 34px 9px 19px;
	border-top: 1px solid #eee;
	color: #353535;
	vertical-align: middle;
	background: #fff;
}

#prdInfo .link {
	display: none;
}

#prdRelated .link {
	display: none;
}

#prdDetail .link {
	display: none;
}

#prdPayment .link {
	display: none;
}

#prdDelivery .link {
	display: none;
}

#prdChange .link {
	display: none;
}

#prdRelated .link {
	display: none;
}

#prdService .link {
	display: none;
}

#prdReview .link {
	display: none;
}

#prdQnA .link {
	display: none;
}

#prdService {
	display: none;
}

.eventArea {
	display: none;
}

#prdPayment {
	border: 1px solid #eee;
	padding: 0 10px;
	margin: 10px 0;
}

#prdDelivery {
	border: 1px solid #eee;
	padding: 0 10px;
	margin: 10px 0;
}

#prdChange {
	border: 1px solid #eee;
	padding: 0 10px;
	margin: 10px 0;
}

.xans-product-detail .infoArea h3 {
	padding: 10px 5px 20px 0px;
	border-bottom: 1px solid #e8e8e8;
	font-size: 24px;
	color: #2e2e2e;
	font-weight: normal;
}

#prdRelated .relation {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.imgArea .control {
	display: none;
}

.imgArea .button {
	display: none;
}

.xans-product-detail .detailArea {
	padding: 0 0 0 540px;
	*zoom: 1;
}

.xans-product-detail .imgArea {
	float: left;
	width: 546px;
	margin: 0 0 0 -546px;
}

.xans-product-detail .imgArea .keyImg {
	width: 540px;
	margin: 0 auto;
	text-align: center;
}

.xans-product-detail .imgArea .keyImg img {
	max-width: 480px;
	border: 1px solid #ececec;
	cursor: pointer;
}

.xans-product-detail .imgArea .listImg {
	padding-bottom: 30px;
}

.xans-product-detail .imgArea .listImg ul {
	height: 100%;
	margin: 0 0 0 2px;
	font-size: 0;
	line-height: 0;
}

.xans-product-detail .imgArea .listImg li img {
	width: 84px;
	height: 84px;
	border: 1px solid #ececec;
	cursor: pointer;
	opacity: 2.3;
}

#zoom_wrap {
	position: absolute;
	top: 30px;
	left: 510px;
	z-index: 100;
}

.xans-product-additional div.board p.nodata {
	margin: 15px 0 0;
	border: 1px solid #d7d5d5;
	font-weight: bold;
	color: #999;
	line-height: 39px;
	text-align: center;
	font-weight: normal;
}

.titleArea {
	text-align: center;
	padding-top: 20px;
}

.titleArea h2 {
	font-size: 12px;
	font-weight: normal;
	color: #474747;
	border: 1px solid #eee;
	padding: 10px 50px;
	background: #fff;
	margin-bottom: 20px;
}

.xans-board-title .title {
	text-align: center;
	padding-top: 20px;
}

.xans-board-title .title h2 {
	padding: 10px 50px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	*display: inline;
	*zoom: 1;
	background: #fff none;
	color: #474747;
	margin: 0 200px;
	margin-bottom: 20px;
	border: 1px solid #eee;
}

.xans-board-title .title p {
	display: none;
}

.path {
	display: none;
}

.xans-member-login .login {
	border: 0px;
}

.xans-myshop-orderhistorynologin {
	border: 0px;
	border-top: 1px solid #eeeeee;
}

.xans-myshop-orderhistorynologin {
	position: relative;
	border: 0px solid #d7d5d5;
	padding: 0px 0 30px;
	color: #2e2e2e;
}

.titleArea {
	text-align: center;
	padding-top: 20px;
}

.titleArea h2 {
	font-size: 12px;
	font-weight: normal;
	color: #474747;
	border: 1px solid #eee;
	padding: 10px 50px;
	background: #fff;
	margin-bottom: 20px;
}

.btn001 {
	border: 1px solid #000;
	padding: 5px 10px;
	background: #000;
	color: #fff;
}

.btn001 a:hover {
	background: #fff;
}

.btn002 {
	border: 1px solid #000;
	padding: 5px 10px;
	background: #fff;
	color: #000;
}

.btn002 a:hover {
	background: #fff;
}

.btn003 {
	border: 1px solid #eee;
	padding: 5px 10px;
	background: #fff;
	color: #000;
	margin: 3px 30px 3px 3px;
}

.btn001_100 {
	display: block;
	width: 344px;
	border: 1px solid #000;
	background: #000;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}

.btn001_b {
	display: block;
	width: 100px;
	border: 1px solid #474747;
	padding: 5px 10px;
	background: #474747;
	color: #fff;
}

.xans-board-title .title {
	min-height: 30px;
	margin: 10px 0 20px;
	border-bottom: 0px solid #e8e8e8;
}

.xans-board-listpackage .boardList table {
	border-top: 1px solid #d7d5d5;
	border-bottom: 1px solid #d7d5d5;
	color: #353535;
	font-size: 12px;
	line-height: 140%;
}

.xans-board-listpackage table th {
	padding: 12px 0 10px;
	border-right: 0px solid #e3e3e3;
	background: #fbfafa;
	font-weight: normal;
}

.xans-board-listpackage table td {
	padding: 6px 3px 4px;
	height: 32px;
	border-top: 1px solid #e3e3e3;
	border-right: 0px solid #e3e3e3;
	text-align: center;
	vertical-align: middle;
}

.xans-mall-faq ul.link {
	height: 25px;
	margin: 30px 0 11px;
	border: 1px solid #cbcdce;
	border-bottom-color: #292929;
	border-left: 0;
	line-height: 25px;
	background: #fff;
	*zoom: 1;
}

.xans-mall-faq ul.link li a {
	display: block;
	width: 95px;
	height: 25px;
	padding: 0 15px;
	border-right: 1px solid #cbcdce;
	border-left: 1px solid #cbcdce;
	color: #757575;
	line-height: 25px;
	text-decoration: none;
	text-align: center;
	background: #fff;
}

.xans-myshop-bankbook {
	overflow: hidden;
	padding: 15px 0 15px 10px;
	border: 1px solid #e8e8e8;
	background: #fff;
}

#myshopMain {
	margin: 30px 0 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#myshopMain .shopMain {
	height: 90px;
	padding: 27px 0 0 30px;
	border-bottom: 1px solid #e9e9e9;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/myshop/bg_myshop1.gif")
		no-repeat 100% 0;
}

#myshopMain .shopMain h3 {
	padding: 0 0 5px;
	font-size: 11px;
	color: #333;
	font-weight: normal;
}

#myshopMain .shopMain h3 strong {
	font-size: 18px;
	padding: 0 5px 0 0;
	font-family: 'Lucida Sans', serif;
}

#myshopMain .shopMain h3 a:hover {
	text-decoration: none;
}

#myshopMain .shopMain p a {
	font-size: 11px;
	line-height: 18px;
	color: #8f8f8f;
}

#myshopMain .shopMain.order {
	width: 45%;
	float: left;
	background-image: none;
}

#myshopMain .shopMain.profile {
	width: 45%;
	float: right;
	background-image: none;
}

#myshopMain .shopMain.wishlist {
	width: 45%;
	float: left;
	background-image: none;
}

#myshopMain .shopMain.mileage {
	width: 45%;
	float: right;
	background-image: none;
}

#myshopMain .shopMain.deposits {
	width: 45%;
	float: left;
	background-image: none;
}

#myshopMain .shopMain.consult {
	width: 45%;
	float: right;
	background-image: none;
}

#myshopMain .shopMain.coupon {
	width: 45%;
	float: left;
	background-image: none;
}

#myshopMain .shopMain.board {
	width: 45%;
	float: right;
	background-image: none;
}

#myshopMain .shopMain.address {
	width: 45%;
	float: left;
	background-image: none;
}

#myshopMain .shopMain.address1 {
	width: 45%;
	float: right;
	background-image: none;
}

#imgbox {
	background-size: cover;
	width: 992px;
	height: 448px;
	background-position: center center;
}

* {
	
}

* {
	font-family: "Montserrat", NanumBarunGothic, Verdana, Dotum, AppleGothic,
		sans-serif;
}

#left_menu_sub {
	overflow: auto;
	width: 440px;
	height: 100%;
	float: left;
	z-index: 9999;
}

#left_menu_sub:hover {
	overflow: auto;
	overflow-x: hidden;
}

.left_menu {
	position: fixed;
	left: -365px;
	top: 0px;
	width: 360px;
	background: #fff;
	z-index: 9999;
	overflow: hidden;
	height: 100%;
	-webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 2.5);
	-moz-box-shadow: 0 0px 12px rgba(0, 0, 0, 2.5);
	box-shadow: 0 0px 12px rgba(0, 0, 0, 2.5);
	padding-bottom: 10px;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
}

.left_submenu {
	position: fixed;
	left: -245px;
	top: 0px;
	width: 240px;
	background: #fff;
	z-index: 99999;
	overflow: hidden;
	height: 100%;
	-webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 2.5);
	-moz-box-shadow: 0 0px 12px rgba(0, 0, 0, 2.5);
	box-shadow: 0 0px 12px rgba(0, 0, 0, 2.5);
	padding-bottom: 10px;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
}

#left_area {
	position: fixed;
	top: 85px;
	left: -195px;
	z-index: 9999;
	width: 200px;
	height: 100%;
}

.right_menu {
	position: fixed;
	right: -245px;
	top: 80px;
	width: 240px;
	height: 3000px;
	background: #fff;
	z-index: 9999;
	-webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 2.5);
	-moz-box-shadow: 0 0px 12px rgba(0, 0, 0, 2.5);
	box-shadow: 0 0px 12px rgba(0, 0, 0, 2.5);
	padding-bottom: 10px;
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
}

.ani_btn1 {
	width: 40px;
	height: 40px;
	background: #1f1f1f;
}

.top_btn_click {
	float: left;
	padding: 1px 15px 0 20px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	background: #ffff;
	outline: 0px solid #eeeeee;
	cursor: pointer;
}

html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	line-height: 1.231;
}

html {
	background: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

#main {
	margin: 30px auto;
	position: relative;
}

#tiles {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
}

#tiles li {
	width: 210px;
	background-color: #ffffff;
	behavior: url( "/sub/js/PIE.htc" );
	border: 1px solid #e4e4e4;
	display: none;
	cursor: pointer;
	padding: 15px 15px 25px 15px;
}

#tiles .icon {
	float: left;
	margin-left: 5px;
	height: 24px;
	line-height: 24px;
}

#tiles .basket_icon {
	float: right;
	text-align: right;
	opacity: 0.3;
	margin-top: 0px;
	padding-right: 10px;
}

#tiles li:hover {
	opacity: 0.7;
}

#tiles li.inactive {
	visibility: hidden;
	opacity: 0;
}

#tiles li .img {
	display: block;
	width: 210px;
}

#tiles li p {
	color: #999;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	font-weight: 200;
	margin: 0px 5px 2px 5px;
}

#tiles li h3 {
	color: #252525;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	font-weight: normal;
	margin: 0px 5px 2px 5px;
}

#tiles li div a {
	color: #000;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	font-weight: 200;
	margin: 0px 5px 2px 5px;
	text-decoration: none;
}

#tiles li .price_sale {
	color: #b3b3b3;
}

#tiles li .price {
	color: #252525;
}

.infoarea {
	margin: 10px 0;
}

footer {
	text-align: center;
}

footer a {
	color: #435DC5;
	text-decoration: none;
}

.progress-bar {
	background-color: #0BC20B;
	height: 2px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 0;
	box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
	-webkit-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}

.wookmark-placeholder {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #eee;
	opacity: 0.5;
	border: 1px solid #dedede;
	z-index: -1;
}

.example-tiles {
	position: relative;
	margin: 0;
	padding: 0;
}

.example-tiles li {
	display: block;
	opacity: 1;
	list-style-type: none;
	float: left;
	margin: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.example-tiles a, .example-tiles a:hover {
	color: #555;
	background-color: #eee;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 200px;
	height: 200px;
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #ddd;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	padding: 5px 8px;
	border-radius: 3px;
}

.example-tiles a:hover {
	background-color: #ddd;
}

#tiles li {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

#sortbys {
	list-style-type: none;
	text-align: center;
	width: 790px;
	margin: 0 auto;
}

#sortbys li {
	font-size: 12px;
	float: left;
	padding: 6px 0 4px 0;
	cursor: pointer;
	margin: 0 19px 0 19px;
	width: 120px;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#sortbys li:hover {
	background: #dedede;
}

#sortbys li.active {
	background: #333333;
	color: #ffffff;
}

.xans-product-1 {
	margin: 22px 0 0;
}

.xans-product-1 h2 {
	margin: 0 0 16px;
	font-weight: normal;
	font-size: 20px;
	font-family: Arial, "돋움", Dotum, sans-serif;
	color: #2e2e2e;
	text-align: center;
}

.xans-product-1 img {
	vertical-align: middle;
}

.xans-product-1 ul.prdList {
	display: table;
	width: 100%;
	min-width: 756px;
	margin: -20px 0 0;
	font-size: 0;
	line-height: 0;
}

.xans-product-1 ul.prdList li.item {
	display: inline-block;
	margin: 20px 0;
	color: #757575;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-product-1 ul.prdList li.item .box {
	margin: 0 auto;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}

.xans-product-1 ul.prdList li .color {
	overflow: hidden;
	display: inline-block;
	margin: 3px 0 0 0;
}

.xans-product-1 ul.prdList.column3 li .color {
	width: 176px;
}

.xans-product-1 ul.prdList.column4 li .color {
	width: 116px;
}

.xans-product-1 ul.prdList.column5 li .color {
	width: 76px;
}

.xans-product-1 ul.prdList li .chips {
	float: left;
	width: 10px;
	height: 10px;
	margin: 0 2px 2px 0;
	border: 1px solid #e3e3e3;
	font-size: 0;
	line-height: 0;
}

.xans-product-1 ul.prdList .thumb {
	margin: 0 0 10px;
	border: 1px solid #ececec;
}

.xans-product-1 ul.prdList .name {
	text-align: left;
}

.xans-product-1 ul.prdList .name a {
	color: #2e2e2e;
}

.xans-product-1 ul.prdList .name .title {
	font-weight: normal;
}

.xans-product-1 ul.prdList .status {
	margin: 0 0 16px;
	padding: 0 80px 4px 0;
	border-bottom: 1px solid #e8e8e8;
	text-align: right;
	line-height: 0;
	*zoom: 1;
}

.xans-product-1 ul.prdList .status:after {
	content: "";
	display: block;
	clear: both;
}

.xans-product-1 ul.prdList .icon {
	float: left;
	text-align: left;
}

.xans-product-1 ul.prdList .icon img {
	margin: 0 -3px 6px 0;
}

.xans-product-1 ul.prdList .button {
	margin: 0 -80px 0 0;
	*zoom: 1;
}

.xans-product-1 ul.prdList .button img {
	margin: 0 0 6px -3px;
	cursor: pointer;
}

.xans-product-1 ul.prdList .button .option {
	display: inline;
	position: relative;
	*zoom: 1;
}

.xans-product-1 ul.prdList .mileage {
	display: block;
}

.xans-product-1 ul.prdList span.grid {
	display: block;
}

.xans-product-listitem li {
	text-align: left;
}

.xans-product-1 ul.column4 li.item {
	width: 25%;
}

.xans-product-1 ul.column4 li.item .box {
	width: 240px;
}

.xans-product-1 ul.column4 li.item .thumb {
	max-width: 238px;
}

.xans-product-1 ul.column5 li.item {
	width: 20%;
}

.xans-product-1 ul.column5 li.item .box {
	width: 189px;
}

.xans-product-1 ul.column5 li.item .thumb {
	max-width: 187px;
}

.xans-product-1 .xans-product-listitem {
	margin: 0;
}

.xans-product-1 .xans-product-listitem li .title {
	font-weight: normal;
	vertical-align: top;
}

.xans-product-1 .xans-product-listitem li .title span {
	vertical-align: top;
}

.xans-product-1 .discountPeriod {
	display: inline-block;
	z-index: 10;
	position: relative;
	width: 55px;
	height: 19px;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
}

.xans-product-1 .discountPeriod .edge {
	position: absolute;
	left: 50%;
	top: -6px;
	width: 10px;
	height: 6px;
	margin: 0 0 0 -5px;
	font-size: 0;
	line-height: 0;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_tip_edge.gif")
		no-repeat 0 0;
}

.xans-product-1 .layerDiscountPeriod {
	display: none;
	position: absolute;
	left: 50%;
	top: 26px;
	width: 247px;
	margin: 0 0 0 -124px;
	border: 1px solid #565960;
	font-size: 12px;
	background-color: #fff;
}

.xans-product-1 .layerDiscountPeriod strong.title {
	display: block;
	margin: 0 0 12px;
	padding: 0 35px 0 0;
	font-weight: bold;
	color: #2e2e2e;
}

.xans-product-1 .layerDiscountPeriod .content {
	padding: 9px 10px 12px 14px;
	font-family: Verdana, "돋움", Dotum, sans-serif;
}

.xans-product-1 .layerDiscountPeriod .content p {
	margin: 2px 0 0;
	font-size: 11px;
	color: #000;
	line-height: 16px;
	color: #757575;
	letter-spacing: -1px;
}

.xans-product-1 .layerDiscountPeriod .content p strong {
	font-weight: normal;
	font-size: 12px;
	color: #2e2e2e;
}

.xans-product-1 .layerDiscountPeriod .content p strong span {
	font-size: 11px;
}

.xans-product-1 .layerDiscountPeriod .close {
	position: absolute;
	right: 14px;
	top: 14px;
}

.xans-product-1 .layerDiscountPeriod .close img {
	cursor: pointer;
}

.xans-layout-conversionpc a {
	display: block;
	padding: 21px 0 22px;
	border: 2px solid #9d9db0;
	border-radius: 4px;
	font-weight: bold;
	font-size: 38px;
	color: #63666e;
	text-align: center;
}

.xans-layout-conversionpc a {
	background: #fff
		-webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#f2f2f2));
	background: #fff -moz-linear-gradient(top, #fff, #f2f2f2);
}

.xans-layout-conversionpc a:hover {
	text-decoration: none;
}

.xans-layout-conversionpc a span {
	padding: 0 0 0 42px;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_mobile.png")
		no-repeat 0 50%;
	background-size: 27px 35px;
}

.box04_2 {
	float: left;
	padding: 1px 15px 0 20px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	background: #ffff;
	outline: 0px solid #eeeeee;
}

.box04_2 a {
	display: block;
	width: 100%;
	height: 35px;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
}

.box04_2 a:hover {
	display: block;
	width: 100%;
	height: 35px;
	color: #ccc;
	text-decoration: none;
}

.box04_1 {
	float: left;
	width: 2%;
	text-align: center;
	height: 35px;
	line-height: 35px;
	background: #ffff;
	outline: 0px solid #eeeeee;
}

.box04_1 a {
	display: block;
	width: 100%;
	height: 35px;
	color: #000;
	font-size: 11px;
	color: #000;
	text-decoration: none;
}

.box07_2 {
	float: left;
	padding: 0 0px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	background: #ffff;
	outline: 0px solid #eeeeee;
}

.box07_2 a {
	display: block;
	padding: 0 10px;
	height: 35px;
	color: #aaa;
	text-decoration: none;
	font-size: 10px;
	font-weight: normal;
	color: #aaa;
}

.box07_2 a:hover {
	display: block;
	height: 35px;
	color: #fff;
	text-decoration: none;
}

.box07_1 {
	float: left;
	width: 2%;
	text-align: center;
	height: 35px;
	line-height: 35px;
	background: #ffff;
	outline: 0px solid #eeeeee;
}

.box07_1 a {
	display: block;
	width: 100%;
	height: 35px;
	color: #fff;
	font-size: 11px;
	color: #fff;
	text-decoration: none;
}

.box07_3 {
	float: left;
	padding: 0 10px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	background: #ffff;
	outline: 0px solid #ccc;
	font-size: 10px;
	color: #636363;
}

.top_logo a:hover {
	opacity: 0.7;
}

.search_icon img {
	opacity: 0.6;
}

.search_icon img:hover {
	opacity: 1.0;
}

.star_icon img {
	opacity: 0.6;
}

.star_icon img:hover {
	opacity: 1.0;
}

.xans-layout-category {
	height: 30px;
}

.xans-layout-category h2 {
	padding: 5px 0;
	display: none;
}

.xans-layout-category .postion {
	z-index: 1;
}

.xans-layout-category ul {
	*zoom: 1;
	list-style: none;
}

.xans-layout-category ul:after {
	content: "";
	display: block;
	clear: both;
}

.xans-layout-category li {
	position: relative;
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	margin: 0 10px;
}

.xans-layout-category li a {
	display: block;
	padding: 5px 0;
	text-align: left;
	line-height: 27px;
	color: #ccc;
	font-weight: normal;
	font-size: 13px;
}

.xans-layout-category li a:hover {
	color: #fff;
	text-decoration: none;
}

.xans-layout-category li img {
	display: block;
	margin: -5px 0 0 -20px;
}

.xans-layout-category li.on>a {
	color: #fff;
	text-decoration: none;
}

.xans-layout-category li.on {
	
}

.xans-layout-category .sub-category {
	position: absolute;
	left: 0;
	top: 27px;
	display: block;
	width: 150px;
	z-index: 99999999;
	margin: 0px;
	margin-left: 10px;
}

.xans-layout-category .sub-category ul {
	padding: 0 5px 5px;
	border-top: 3px solid #bfef1a;
	margin-top: 15px;
	background: #474747;
}

.xans-layout-category .sub-category a {
	padding: 0 0 0 0px;
	color: #eee;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.xans-layout-category .sub-category a:hover {
	color: #fff;
	background: #000;
	margin: 0 -5px;
	padding-left: 5px;
}

.xans-layout-category .sub-category li {
	display: block;
	float: none;
	width: 140px;
	margin-left: -15px;
}

.xans-layout-category .sub-category {
	left: 0;
}

#element_to_pop_up {
	display: none;
	height: 100%;
	border-radius: 0px;
}

.bClose {
	RIGHT: -7px;
	POSITION: absolute;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 0px;
	FONT: bold 131% sans-serif;
	PADDING-LEFT: 6px;
	TOP: -7px;
	PADDING-RIGHT: 6px;
	border-radius: 7px 7px 7px 7px;
	box-shadow: none;
}

.search_s {
	background: #ffffff;
	margin: 0 0px;
	border-top: 0px solid #cccccc;
	border-bottom: 0px solid #474747;
}

.search_s p {
	background: #ffffff;
	margin: 0 0px;
}

.search_s p input[type="text"] {
	position: relative;
	left: 10px;
	right: 10px;
	top: 0px;
	width: 400px;
	height: 80px;
	margin: 5px 0px;
	line-height: 24px;
	border: 0px solid #cccccc;
	background: #ffffff;
	font-size: 50px;
}

.search_s button {
	position: absolute;
	right: 95px;
	top: 0px;
	width: 100px;
	height: 97px;
	margin: 0;
	font-size: 11px;
	color: #474747;
	border: 0px solid #cccccc;
	border-radius: 0px;
	outline-style: none;
	cursor: pointer;
	background: url(/sub/pmenu/img/search_btn.png) no-repeat 0 0;
	background-size: 100px 97px; -webkit-gradient (linear,left top,left
	bottom,from(#fff),to(#eee));
	background: #fff -moz-linear-gradient(top, #fff, #eee);
}

.top_box {
	float: left;
	width: 240px;
	height: 142px;
	margin: 4px;
	background: #fff;
	border: 1px solid #e4e4e4;
}

.top_box1 {
	float: left;
	width: 240px;
	height: 142px;
	margin: 4px;
	background: #fff;
	border: 1px solid #e4e4e4;
}

.top_box img {
	width: 240px;
	height: 142;
	border: 0px;
}

.top_box:hover {
	opacity: 1.0;
	width: 240px;
	height: 142px;
	border: 1px solid #bfef1a;
}

.top_box1:hover {
	opacity: 1.0;
	width: 240px;
	height: 142px;
	border: 1px solid #bfef1a;
}

.top_box2 {
	float: left;
	width: 240px;
	height: 142px;
	margin: 4px;
	background: #f3f3f3;
	border: 1px solid #ebebeb;
}

.owl-carousel .animated {
	-webkit-animation-duration: 1000ms;
	animation-duration: 1000ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
	z-index: 0;
}

.owl-carousel .owl-animated-out {
	z-index: 1;
}

.owl-carousel .fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@
-webkit-keyframes fadeOut { 0%{
	opacity: 1;
}

100%{
opacity
:
0;
}
}
@
keyframes fadeOut { 0%{
	opacity: 1;
}

100%{
opacity
:
0;
}
}
.owl-height {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next,
	.owl-carousel .owl-controls .owl-dot {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.owl-carousel.owl-loaded {
	display: block;
}

.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}

.owl-carousel.owl-hidden {
	opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
	display: none;
}

.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.owl-carousel .owl-item .img {
	width: 100%;
}

.owl-carousel.owl-text-select-on .owl-item {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

.owl-carousel .owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -o-grab;
	cursor: -ms-grab;
	cursor: grab;
}

.owl-carousel.owl-rtl {
	direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
	float: right;
}

.no-js .owl-carousel {
	display: block;
}

.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	-webkit-transition: opacity 400ms ease;
	-moz-transition: opacity 400ms ease;
	-ms-transition: opacity 400ms ease;
	-o-transition: opacity 400ms ease;
	transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
	transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000;
}

.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url("owl.video.play.png") no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transition: scale 100ms ease;
	-moz-transition: scale 100ms ease;
	-ms-transition: scale 100ms ease;
	-o-transition: scale 100ms ease;
	transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
	-webkit-transition: scale(1.3, 1.3);
	-moz-transition: scale(1.3, 1.3);
	-ms-transition: scale(1.3, 1.3);
	-o-transition: scale(1.3, 1.3);
	transition: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon
	{
	display: none;
}

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	-webkit-transition: opacity 400ms ease;
	-moz-transition: opacity 400ms ease;
	-ms-transition: opacity 400ms ease;
	-o-transition: opacity 400ms ease;
	transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
}

.owl-carousel .item {
	width: 210px;
	border: 1px solid #e4e4e4;
	background: #fff;
}

.owl-carousel .item:hover {
	opacity: 0.7;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
	position: relative;
	top: 0px;
	left: 0px;
	position: absolute;
	left: 0px;
	top: -30px;
	z-index: 99999;
	color: #252525;
	padding: 10px;
	opacity: 0.7;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
	position: relative;
	top: 0px;
	right: 0px;
	position: absolute;
	right: 7px;
	top: -30px;
	z-index: 99999;
	color: #252525;
	padding: 10px;
	opacity: 0.7;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
	color: #000;
	opacity: 1.0;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover {
	color: #000;
	opacity: 1.0;
}

.best_title {
	color: #252525;
	padding: 10px;
	text-align: center;
}

#tiles1 .item {
	width: 210px;
	background-color: #ffffff;
	cursor: pointer;
	padding: 15px 20px 25px 10px;
}

#tiles1 .basket_icon {
	float: right;
	text-align: right;
	opacity: 0.3;
	margin-top: 0px;
	padding-right: 10px;
}

#tiles1 li:hover {
	opacity: 0.7;
}

#tiles1 li.inactive {
	visibility: hidden;
	opacity: 0;
}

#tiles1 li .img {
	display: block;
	width: 210px;
}

#tiles1 div p {
	color: #999;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	font-weight: 200;
	margin: 0px 5px 2px 5px;
}

#tiles1 div h3 {
	color: #252525;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	font-weight: normal;
	margin: 0px 5px 2px 5px;
}

#tiles1 div div a {
	color: #000;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	font-weight: 200;
	margin: 0px 5px 2px 5px;
	text-decoration: none;
}

#tiles1 div .price_sale {
	color: #b3b3b3;
}

#tiles1 div .price {
	color: #252525;
}

#tiles1 .icon {
	float: left;
	margin-left: 5px;
	height: 24px;
	line-height: 24px;
	display: block;
}

#tiles1 .basket_icon {
	float: right;
	text-align: right;
	opacity: 0.3;
	margin-top: 0px;
	padding-right: 10px;
}

#tiles1 .infoarea {
	padding-bottom: 20px;
}

.xans-product-2 {
	margin: 17px 0 37px;
}

.xans-product-2 h2 {
	margin: 0 0 16px;
	font-weight: normal;
	font-size: 20px;
	font-family: Arial, "돋움", Dotum, sans-serif;
	color: #2e2e2e;
	text-align: center;
}

.xans-product-2 img {
	vertical-align: middle;
}

.xans-product-2 ul.prdList {
	display: table;
	width: 100%;
	min-width: 756px;
	margin: -20px 0 0;
	font-size: 0;
	line-height: 0;
}

.xans-product-2 ul.prdList li.item {
	display: inline-block;
	margin: 20px 0;
	color: #757575;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-product-2 ul.prdList li.item .box {
	margin: 0 auto;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}

.xans-product-2 ul.prdList li .color {
	overflow: hidden;
	display: inline-block;
	margin: 3px 0 0 0;
}

.xans-product-2 ul.prdList.column3 li .color {
	width: 176px;
}

.xans-product-2 ul.prdList.column4 li .color {
	width: 116px;
}

.xans-product-2 ul.prdList.column5 li .color {
	width: 76px;
}

.xans-product-2 ul.prdList li .chips {
	float: left;
	width: 10px;
	height: 10px;
	margin: 0 2px 2px 0;
	border: 1px solid #e3e3e3;
	font-size: 0;
	line-height: 0;
}

.xans-product-2 ul.prdList .thumb {
	margin: 0 0 10px;
	border: 1px solid #ececec;
}

.xans-product-2 ul.prdList .name {
	text-align: left;
}

.xans-product-2 ul.prdList .name a {
	color: #2e2e2e;
}

.xans-product-2 ul.prdList .name .title {
	font-weight: normal;
}

.xans-product-2 ul.prdList .status {
	margin: 0 0 16px;
	padding: 0 80px 4px 0;
	border-bottom: 1px solid #e8e8e8;
	text-align: right;
	line-height: 0;
	*zoom: 1;
}

.xans-product-2 ul.prdList .status:after {
	content: "";
	display: block;
	clear: both;
}

.xans-product-2 ul.prdList .icon {
	float: left;
	text-align: left;
}

.xans-product-2 ul.prdList .icon img {
	margin: 0 -3px 6px 0;
}

.xans-product-2 ul.prdList .button {
	margin: 0 -80px 0 0;
	*zoom: 1;
}

.xans-product-2 ul.prdList .button img {
	margin: 0 0 6px -3px;
	cursor: pointer;
}

.xans-product-2 ul.prdList .button .option {
	display: inline;
	position: relative;
	*zoom: 1;
}

.xans-product-2 ul.prdList .mileage {
	display: block;
}

.xans-product-2 ul.prdList span.grid {
	display: block;
}

.xans-product-listitem li {
	text-align: left;
}

.xans-product-2 ul.column4 li.item {
	width: 25%;
}

.xans-product-2 ul.column4 li.item .box {
	width: 240px;
}

.xans-product-2 ul.column4 li.item .thumb {
	max-width: 238px;
}

.xans-product-2 ul.column5 li.item {
	width: 20%;
}

.xans-product-2 ul.column5 li.item .box {
	width: 189px;
}

.xans-product-2 ul.column5 li.item .thumb {
	max-width: 187px;
}

.xans-product-2 .xans-product-listitem {
	margin: 0;
}

.xans-product-2 .xans-product-listitem li .title {
	font-weight: normal;
	vertical-align: top;
}

.xans-product-2 .xans-product-listitem li .title span {
	vertical-align: top;
}

.xans-product-2 .discountPeriod {
	display: inline-block;
	z-index: 10;
	position: relative;
	width: 55px;
	height: 19px;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
}

.xans-product-2 .discountPeriod .edge {
	position: absolute;
	left: 50%;
	top: -6px;
	width: 10px;
	height: 6px;
	margin: 0 0 0 -5px;
	font-size: 0;
	line-height: 0;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_tip_edge.gif")
		no-repeat 0 0;
}

.xans-product-2 .layerDiscountPeriod {
	display: none;
	position: absolute;
	left: 50%;
	top: 26px;
	width: 247px;
	margin: 0 0 0 -124px;
	border: 1px solid #565960;
	font-size: 12px;
	background-color: #fff;
}

.xans-product-2 .layerDiscountPeriod strong.title {
	display: block;
	margin: 0 0 12px;
	padding: 0 35px 0 0;
	font-weight: bold;
	color: #2e2e2e;
}

.xans-product-2 .layerDiscountPeriod .content {
	padding: 9px 10px 12px 14px;
	font-family: Verdana, "돋움", Dotum, sans-serif;
}

.xans-product-2 .layerDiscountPeriod .content p {
	margin: 2px 0 0;
	font-size: 11px;
	color: #000;
	line-height: 16px;
	color: #757575;
	letter-spacing: -1px;
}

.xans-product-2 .layerDiscountPeriod .content p strong {
	font-weight: normal;
	font-size: 12px;
	color: #2e2e2e;
}

.xans-product-2 .layerDiscountPeriod .content p strong span {
	font-size: 11px;
}

.xans-product-2 .layerDiscountPeriod .close {
	position: absolute;
	right: 14px;
	top: 14px;
}

.xans-product-2 .layerDiscountPeriod .close img {
	cursor: pointer;
}

#user_tel {
	text-align: center;
	font-size: 11px;
	padding-left: 0px;
}

#user_tel h2 {
	padding-top: 5px;
	font-size: 24px;
}

#user_line {
	clear: both;
	width: 100%;
	height: 0px;
	background: #eeeeee;
}

#user_info1 {
	clear: both;
	height: 200px;
	margin: 0;
	padding: 0;
}

#user_info1 .tel {
	float: left;
	margin: 25px;
}

#user_info1 .tel .h7 {
	display: block;
	color: #77776b;
	font-size: 11px;
	padding: 0 0 10px;
}

#user_info1 .tel .h8 {
	display: block;
	font-weight: normal;
	font-size: 18px;
	color: #aaa !important;
}

#user_info1 .tel .h8 a {
	display: block;
	font-weight: bold;
	font-size: 24px;
	color: #aaa !important;
}

#user_info1 .tel .h9 {
	display: block;
	font-weight: normal;
	font-size: 11px;
	color: #aaa !important;
}

#user_info1 .time {
	float: left;
	margin: 25px;
}

#user_info1 .time .h7 {
	display: block;
	color: #77776b;
	font-size: 11px;
	padding: 0 0 10px;
}

#user_info1 .time .h8 {
	display: block;
	font-weight: normal;
	font-size: 11px;
	line-height: 16px;
	color: #999;
}

#user_info1 .bank {
	float: left;
	margin: 25px;
}

#user_info1 .bank .h7 {
	display: block;
	color: #77776b;
	font-size: 11px;
	padding: 0 0 10px;
}

#user_info1 .bank .h8 {
	display: block;
	font-weight: normal;
	font-size: 11px;
	line-height: 16px;
	color: #999;
}

#user_info1 .bank .h8 a {
	font-weight: normal;
	font-size: 11px;
	line-height: 16px;
	color: #999;
}

#user_info1 .officeinfo {
	float: left;
	margin: 25px 0 25px 25px;
}

#user_info1 .officeinfo .h7 {
	display: block;
	color: #77776b;
	font-size: 10px;
	padding: 0 0 10px;
}

#user_info1 .officeinfo .h8 {
	display: block;
	font-weight: normal;
	font-size: 10px;
	line-height: 16px;
	color: #999;
}

#user_info1 .officeinfo .h8 a {
	font-weight: normal;
	font-size: 11px;
	line-height: 16px;
	color: #999;
}

.box01 {
	float: left;
	width: 50%;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background: #eeeeee;
	outline: 5px solid #ffffff;
	font-size: 11px;
}

.box01 a {
	display: block;
	width: 100%;
}

#user_info .instagram {
	float: left;
	width: 200px;
	padding-bottom: 40px;
}

#user_info .copyright .h7 {
	display: block;
	color: #8a1413;
	font-size: 11px;
	line-height: 18px;
}

#user_info .copyr {
	color: #252525;
	padding: 10px 5px;
}

.footer_sns {
	float: right;
	color: #eee;
	width: 40px;
}

.footer_sns a {
	color: #999;
}

.footer_sns a:hover {
	color: #fff;
}

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(/web/upload/appskin_img/img/ui.totop.png) no-repeat left
		top;
	margin-left: -20px;
	z-index: 9999999999;
}

#toTopHover {
	background: url(/web/upload/appskin_img/img/ui.totop.png) no-repeat left
		-40px;
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: left;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity = 0);
}

#toTop:active, #toTop:focus {
	outline: none;
}